@import url("https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hamb {
  z-index: 10 !important;
  diasplay: none !important;
}

.nav2 {
  font-size: 80%;
}

.iconleft {
  position: absolute !important;
  left: 30%;
  top: 50%;
}

.iconright {
  position: absolute !important;
  right: 20%;
  top: 50%;
}

.right,
.left {
  height: 100vh;
  position: absolute;
  width: 4%;
}

.right:hover,
.left:hover {}

.inf {
  margin-bottom: 1.5%;
  margin-top: -0.5%;
  line-height: 150%;
}

.form-control {
  width: 30%;
  height: 1.2rem;
  border-radius: 3px;
  border-width: 1px;
}

.contform {
  margin-top: 8%;
  text-align: center;
}

.active:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.unactive:hover {
  cursor: not-allowed;
  opacity: 0.8;
}

.right {
  right: 0%;
}

.left {
  left: 0%;
}

.form-group {
  margin-bottom: 1rem;
}

form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.form-control[multiple],
select.form-control[size] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col,
.form-row>[class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.form-check-input:disabled~.form-check-label {
  color: #6c757d;
}

.form-check-label {
  margin-bottom: 0;
}

.form-check-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(40, 167, 69, 0.9);
  border-radius: 0.25rem;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control.is-valid~.valid-feedback,
.form-control.is-valid~.valid-tooltip,
.was-validated .form-control:valid~.valid-feedback,
.was-validated .form-control:valid~.valid-tooltip {
  display: block;
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.custom-select.is-valid,
.was-validated .custom-select:valid {
  border-color: #28a745;
  padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px,
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.custom-select.is-valid:focus,
.was-validated .custom-select:valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.custom-select.is-valid~.valid-feedback,
.custom-select.is-valid~.valid-tooltip,
.was-validated .custom-select:valid~.valid-feedback,
.was-validated .custom-select:valid~.valid-tooltip {
  display: block;
}

.form-control-file.is-valid~.valid-feedback,
.form-control-file.is-valid~.valid-tooltip,
.was-validated .form-control-file:valid~.valid-feedback,
.was-validated .form-control-file:valid~.valid-tooltip {
  display: block;
}

.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: #28a745;
}

.form-check-input.is-valid~.valid-feedback,
.form-check-input.is-valid~.valid-tooltip,
.was-validated .form-check-input:valid~.valid-feedback,
.was-validated .form-check-input:valid~.valid-tooltip {
  display: block;
}

.custom-control-input.is-valid~.custom-control-label,
.was-validated .custom-control-input:valid~.custom-control-label {
  color: #28a745;
}

.custom-control-input.is-valid~.custom-control-label::before,
.was-validated .custom-control-input:valid~.custom-control-label::before {
  border-color: #28a745;
}

.custom-control-input.is-valid~.valid-feedback,
.custom-control-input.is-valid~.valid-tooltip,
.was-validated .custom-control-input:valid~.valid-feedback,
.was-validated .custom-control-input:valid~.valid-tooltip {
  display: block;
}

.custom-control-input.is-valid:checked~.custom-control-label::before,
.was-validated .custom-control-input:valid:checked~.custom-control-label::before {
  border-color: #34ce57;
  background-color: #34ce57;
}

.custom-control-input.is-valid:focus~.custom-control-label::before,
.was-validated .custom-control-input:valid:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label::before,
.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label::before {
  border-color: #28a745;
}

.custom-file-input.is-valid~.custom-file-label,
.was-validated .custom-file-input:valid~.custom-file-label {
  border-color: #28a745;
}

.custom-file-input.is-valid~.valid-feedback,
.custom-file-input.is-valid~.valid-tooltip,
.was-validated .custom-file-input:valid~.valid-feedback,
.was-validated .custom-file-input:valid~.valid-tooltip {
  display: block;
}

.custom-file-input.is-valid:focus~.custom-file-label,
.was-validated .custom-file-input:valid:focus~.custom-file-label {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip {
  display: block;
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.custom-select.is-invalid,
.was-validated .custom-select:invalid {
  border-color: #dc3545;
  padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px,
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.custom-select.is-invalid:focus,
.was-validated .custom-select:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.custom-select.is-invalid~.invalid-feedback,
.custom-select.is-invalid~.invalid-tooltip,
.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip {
  display: block;
}

.form-control-file.is-invalid~.invalid-feedback,
.form-control-file.is-invalid~.invalid-tooltip,
.was-validated .form-control-file:invalid~.invalid-feedback,
.was-validated .form-control-file:invalid~.invalid-tooltip {
  display: block;
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
  color: #dc3545;
}

.st, .life {
  background-image: url("/life.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articletext {
  text-align: justify;
  font-family: "Raleway";
  line-height: 150%;
  foant-family: "Quicksand";
  font-size: 1.2rem;
}

body {
  background-color: #fcfcfc;
}

.nd, .health {
  background-image: url("/health.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rd, .children {
  background-image: url("/children.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frth, .house {
  background-image: url("/house.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fth, .blank {
  background-image: url("/blank.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sx, .hospital {
  background-image: url("/hospital.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sv, .income {
  background-image: url("/income.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.eh, .retirement {
  background-image: url("/retirement.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nin, .accidents {
  background-image: url("/accidents.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hamb {
  display: none !important;
}

.container,
html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.nv {
  position: sticky;
  top: 0;
}

.limit {
  height: 100vh;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  margin-top: 6.5vh !important;
  max-height: 93.5vh;
  min-height: 93.5vh;
}

.item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.pach {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  text-shadow: 0.6px 0.6px #000000;
  position: relative;
  width: 33.33333%;
  font-family: "Raleway";
  /* 32:18, i.e. 16:9 */
  /* (100-32*3)/2 */
}

.divider {
  margin: 1%;
  border-bottom-style: solid;
  position: absolute;
  left: 20%;
}

.top {
  margin-top: 5%;
}

.t {
  position: absolute;
}

#bt0 {
  left: 15%;
}

#bt1 {
  right: 15%;
}

.mid {
  left: 43.5%;
}

li {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  margin-right: 3.5%;
}

li:hover {
  cursor: pointer;
}

.navitem1 {
  border-style: solid;
  border-radius: 10px;
  padding: 0.5%;
}

.navbar {
  border-bottom-style: solid;
  border-bottom-width: 1%;
  border-bottom-color: orange;
}

.hid {
  display: none;
}

.logo {
  margin-left: 5%;
  margin-right: 15%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.article {
  margin-left: 32.5%;
  margin-right: 32.5%;
  margin-top: 5%;
  font-family: "Raleway";
}

.articles {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 8%;
  font-family: "Raleway";
}

@media screen and (max-width: 2000px) {
  img {
    width: 70% !important;
  }

  .title {
    left: 71% !important;
    top: 88% !important;
  }

  .titletext {
    font-size: 1.7rem !important;
  }
}

@media screen and (max-width: 1500px) {
  .article {
    margin-left: 25%;
    margin-right: 25%;
  }

  img {
    width: 60% !important;
  }

  .title {
    left: 61% !important;
    top: 88% !important;
  }

  .titletext {
    font-size: 1.4rem !important;
  }

  /*
  .MuiToolbar-root>.MuiButtonBase-root {
    width: initial !important;
  }

  .MuiFormControl-root {
    width: 70% !important;
  }

  .MuiButtonBase-root {
    width: 70% !important;
  } */
}

@media screen and (max-width: 1300px) {
  .article {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
  }

  img {
    width: 100% !important;
  }

  .title {
    color: white;
    padding-left: 0.5rem;
    left: 0% !important;
    top: 85% !important;
    padding-right: 0.5rem;
  }

  .titletext {
    font-family: "Montserrat" !important;
    color: white;
    background: #00000042;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 1.7rem !important;
  }

  /*
  .MuiToolbar-root>.MuiButtonBase-root {
    width: initial !important;
  }

  .MuiFormControl-root {
    width: 70% !important;
  }

  .MuiButtonBase-root {
    width: 70% !important;
  } */
}

@media screen and (max-width: 1100px) {
  .MuiAppBar-positionFixed {
    position: fixed !important;
  }

  #root, .limit {
    overflow-y: auto;
    height: fit-content;
  }

  .article {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 10%;
  }

  .item {
    width: 50% !important;
    height: 14rem !important;
  }

  .item:last-child {
    width: 100% !important;
  }

  .titletext {
    background: none;
    padding: none;
  }

  .articles {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

  /*
  .MuiToolbar-root>.MuiButtonBase-root {
    width: initial !important;
  }

  .MuiFormControl-root {
    width: 100% !important;
  }

  .MuiButtonBase-root {
    width: 100% !important;
  } */
}

@media screen and (max-width: 600px) {
  .articles {
    margin-top: -1%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 700px) {
  .article {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
  }

  .item {
    width: 100% !important;
    height: 14rem !important;
  }

  .articles {
    margin-left: 5%;
    margin-top: 12%;
    margin-right: 5%;
  }

  .dog {
    margin-right: -4% !important;
  }

  .fth {
    display: none;
  }

  /*
  .MuiFormControl-root {
    width: 90% !important;
  }


  .MuiButtonBase-root {
    width: 90% !important;
  } */
  .bts {
    display: none !important;
  }

  .left,
  .right {
    top: -25% !important;
    color: #f0f0f0;
  }

  .hamb {
    display: inherit !important;
    z-index: 10;
  }

  .active:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    cursor: pointer;
  }

  .articletext {
    margin: 8%;
    text-align: justify;
  }

  .smenu {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    paadding: 2rem;
    position: fixed;
    top: 3.5rem;
    right: -4%;
    width: 50%;
    transition: transform 0.5s ease-in-out;
    background-color: #3f51b5;
  }

  .hamb {
    transition-duration: 0.8s;
    transition-property: all;
  }

  /*49ca6a 5e9e4e 659e4e   */
  .hamb.rot {
    animation: spin 600ms;
    transform: rotate(90deg);
  }

  .hamb.unrot {
    animation: despin 600ms;
    transform: rotate(360deg);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes despin {
    0% {
      transform: rotate(90deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .its {
    font-size: 2rem;
    margin-top: -340%;
    color: white;
  }

  .hid {
    display: none;
  }

  .it1 {
    margin-bottom: 12%;
  }

  img {
    width: 100% !important;
  }

  .title {
    color: white;
    padding-left: 0.5rem;
    left: 0% !important;
    padding-right: 0.5rem;
  }

  .titletext {
    font-family: "Montserrat" !important;
    color: white;
  }
}

.title {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 82%;
  right: 0;
  text-align: center;
  width: fit-content;
  top: 85%;
}

img {
  width: 80%;
}

.titletext {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Raleway";
}

.articleHeader {
  position: relative;
  display: inline-block;
}

.MuiAppBar-colorPrimary {
  /*  background-color: #2f5297 !important
  background: #6885af !important;
; */
  background: rgb(36, 129, 60);
  background: linear-gradient(110deg, rgba(36, 129, 60, 1) 0%, rgba(94, 158, 78, 1) 47%, rgba(101, 158, 78, 1) 100%);
}

.bts {
  color: white !important;
  border: solid 1px white !important;
}

.bts:hover {
  filter: blur(0.75px);
}

.image img {
  box-shadow: 3px 5px 4px 0rem rgba(0, 0, 0, 0.24);
}

.baseInput {
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 1%;
}

.btnWidth100 {
  width: 100%;
  margin-top: 1% !important;
}

.formcont {
  margin-bottom: 1%;
  width: 100% !important;
  text-align: left;
  background-color: #fCFCFC !important;
}

.selCol {
  margin-bottom: 1%;
  background-color: #fCFCFC !important;
  text-align: left !important;
}

.emSpan {
  display: block;
}

.navMainLink {
  text-decoration: none;
  color: white;
  font-family: "Raleway";
}

.navbtn {
  margin-left: 0.5% !important;
}

.MuiDrawer-paper {
  toop: 6.34vh !important;
  top: 7.38vh !important;
}

.highlight {
  baox-shadow: inset 0 0 20px 20px #43af4194;
  background: #f3f3f3 !important;
}

.highlight>.MuiListItemIcon-root {
  color: #83c154;
}

.highlight:first-child {
  margin-top: -6px;
  padding-top: 14px;
}

.highlight:last-child {
  margin-bottom: -6px;
  padding-bottom: 14px;
}

.arrowBack {
  position: absolute;
  left: 30%;
  top: 50%;
  font-size: 50;
}

.arrowForward {
  position: absolute;
  right: 30%;
  top: 50%;
  font-size: 50;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 6.3vh !important;
    max-height: 93.7vh;
    min-height: 93.7vh;
  }

  .MuiDrawer-paper {
    top: 6.363vh !important;
  }
}

.hamburgerWrapper {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: -2rem;
}

.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}

.articleWrapper {
  overflow-y: overlay;
}